/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.9em;
}

nav {
  background-color: #f8d52a;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  color: black;
  list-style: none;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

.main-logo-nav {
  display: flex;
  align-items: center;
}

.lego-logo {
  height: 60px;
}

.search {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  background-color: #f8d52a;
}

.kurapika-kv {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.section-one {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1f2937;
  color: #f4f4f4;
  padding: 30px 150px;
  background-image: url("https://www.lego.com/cdn/cs/set/assets/blt32c688705a3b7cff/Botanicals_Desktop.png?format=webply&fit=crop&quality=60&width=1600&height=700&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

@media (max-width: 768px) {
  .section-one {
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.main-copies {
  text-align: right;
}

@media (max-width: 768px) {
  .main-copies {
    text-align: left;
  }
}

.section-two {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
  padding: 25px 150px;
}

@media (max-width: 768px) {
  .section-two {
    padding: 25px 25px;
    margin: 15px;
    align-content: center;
  }
}

.allPopularIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 10px 0px 10px;
}

@media (max-width: 768px) {
  .allPopularIcons {
    justify-content: center;
  }
}

.popularIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}

.PopularCollection {
  margin-bottom: 5px;
}
.icons-img {
  height: 90px;
}

.section-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

@media (max-width: 768px) {
  .section-three {
    flex-direction: column;
  }
}

.three-one,
.three-two,
.three-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.img-three {
  width: 400px;
  max-width: 100%;
  margin-bottom: 15px;
}

.section-four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
}

@media (max-width: 768px) {
  .section-four {
    flex-direction: column;
  }
}

.four-one,
.four-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.img-four {
  width: 600px;
  max-width: 100%;
  margin-bottom: 15px;
}

.section-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000000;
  margin: 50px 250px;
  padding: 30px 150px;
  background-image: url("https://www.lego.com/cdn/cs/set/assets/blt47e9ae4aeec2086e/City-Home-202201-Hero-Short-Large.jpg?fit=crop&format=webply&quality=80&width=1600&height=200&dpr=1.5");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  border-radius: 8px;
  font-size: clamp(0.7rem, 2vw, 1rem); /* Dynamic Font Scaling */
  margin: 0px;
  padding: 45px;
}

.five-banner {
  color: #fffcfc;
  font-weight: bold;
  background-color: #0c0c0c;
  padding: 15px 25px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
}

@media (max-width: 768px) {
  .section-five {
    height: 350px;
    background-position: 68% 30%;
  }
}

.section-six {
  height: 300px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.s6h3 {
  width: 500px;
  font-size: 1.1em;
  font-style: italic;
}

.s6p {
  display: flex;
  width: 500px;
  margin-top: 20px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .s6h3,
  .s6p {
    font-size: 0.9em;
    padding: 20px;
  }
}

button {
  color: #171717;
  font-weight: bold;
  background-color: #cdcdcd;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 25px;
  border-style: none;
  font-size: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1d45;
  color: #e5e7eb;
  min-height: 40vh;
  padding: 30px;
  font-size: clamp(0.55rem, 2vw, 1rem);
}

.footer-logo,
.footer-about,
.footer-support,
.footer-attraction,
.footer-more {
  margin: 8px;
}

@media (max-width: 768px) {
  footer {
    padding: 10px;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}

.learnMoreS3 {
  background: none;
  color: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.learnMoreS3:hover {
  text-decoration: underline;
}

.search {
  background-color: #ffffff;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
}

.search-button {
  background: none;
  color: inherit;
  border: none;
  margin-top: 0px;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.section-zero {
  display: flex;
  justify-content: center;
}
